.products{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}
.item{
    width:60%;
    height: 40%;
}
.products li{
    width:30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.p{
    color: black;
    margin: 20px;
    width: 30%;
    flex-wrap: wrap;

}
.price{
    font-weight: bold;
}
.h1{
    width: 70%; /* Adjust the width to fit your specific layout */
    white-space: wrap;
    text-overflow: ellipsis;
    text-align: center;
    font-weight: bold;
}
.item-div{
    width:40%;
    height:20%;
}
.specific{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    width:50%;
    height:70%;
}
.specific:hover{
    cursor: pointer;
    color: blue;
    font-size: 18px;
}

